{
  "extends": "loopback",
  "rules": {
    "max-len": "off",
    "object-curly-spacing": ["error", "always"],
    "padded-blocks": "off",
    "one-var": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}